# Eclipse
.classpath
.project
.settings/
src/main/resources/application.properties
src/main/java/co/grandcircus/BaddamBoseTenbrick/MuralDisplayDetroit/CommonConstants.java

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

*.class
/bin/
